.swiper-pagination-bullet {
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    font-size: 12px;
    color: white;
    opacity: 1;
    background: rgba(0, 0, 0, 0.2);
    transition: 0.2s ease-in;
    transition-property: font-weight, background;
}

.swiper-pagination-bullet-active { color: white; font-weight: bold; background: #ffc400; }

.swiper-button-next, .swiper-button-prev { color: white; font-weight: bolder; }

.swiper-button-next:active, .swiper-button-prev:active { scale: 0.9; }

.swiper-button-next:hover, .swiper-button-prev:hover { scale: 1.1; }
