/* Custom styles for Swiper navigation buttons */
.swiper-button-prev, .swiper-button-next {
    background-color: #030B98;
    color: #FF9201;
    width: 45px;
    padding: 10px;
    border-radius: 50%;
    transition: all 0.1s ease-in-out;   
}

.swiper-button-next { box-shadow: -3px 0 0px 1px #FF9201; }

.swiper-button-prev { box-shadow: 3px 0 0px 1px #FF9201; }

.swiper-button-prev::after, .swiper-button-next::after { font-size: 24px; font-weight: bold; }

.swiper-button-prev:active, .swiper-button-next:active { scale: 0.95; }

.swiper-button-prev.swiper-button-disabled, .swiper-button-next.swiper-button-disabled { opacity: 0; cursor: auto; pointer-events: none; }