@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .header-btn-drawer { @apply h-8 w-max px-4 py-1 rounded-full block mx-auto text-center mb-4; }
    
    .header-btn-drawer-act { @apply bg-[#FF9201] text-white font-[400]; }

    .header-btn { @apply h-8 w-16 px-4 py-1 rounded-full; }
    
    .header-btn-act { @apply bg-[#FF9201] text-white font-[400] shadow-[-6px_6px_0px_0px_#020B91]; }

    .header-btn-ctc { @apply hidden my-auto text-center font-[400] border-2 border-black rounded-full md:block md:px-2 md:py-[1px] lg:px-4 lg:py-0.5 lg:text-[20px]; }

    .gradient-txt-slant { @apply text-transparent bg-clip-text bg-gradient-to-br from-[#030B98] from-[35.16%] to-[#FF9201] to-[57.13%]; }

    .gradient-txt { @apply text-transparent bg-clip-text bg-gradient-to-r from-[#030B98] from-[16.16%] to-[#FF9201] to-[43.13%]; }

    .input-box { @apply rounded-lg appearance-none w-40 indent-2 border-2 focus:bg-orange-200 bg-orange-100; } 

    .footer-btn { @apply sm:border-2 sm:border-black sm:rounded-lg my-auto sm:py-1 sm:px-1.5 text-xs sm:text-base md:text-lg; }

    .team-card { @apply grid grid-cols-4 md:grid-cols-8 gap-10 mx-3 self-center p-5 md:p-10 bg-gradient-to-br from-[#ffffff14] to-[#ffffff00] backdrop-blur-[10px] shadow-[0_8px_32px_0_rgba(0,0,0,0.37)] rounded-xl; }
}

body, html { max-height: 100vh; max-width: 100vw; }

.linkedin-container:hover .linkedin, .linkedin-container:focus .linkedin { opacity: 1; top: 0; } 

.linkedin { transition: top 0.3s ease; }

@media (min-width: 768px) {
    .team--core-grid > div:nth-child(7n + 5) { grid-column-start: 2; }
    
    .team--subcore-grid > div:nth-child(7n + 5) { grid-column-start: 2; }
}

@media (max-width: 768px) {
    .team--core-grid > div:last-child { grid-column-start: 2; }
}